*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    height: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
h2{
    font-size: 32px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4px;
}
.data input{
    padding: 4px;
    outline: none;
    border-radius: 10px;
    border: 1px solid cadetblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
}
.data button{
    background-color:cadetblue;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.lists{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
}
.box{
    background-color:#fff;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.item{
    background-color: cadetblue;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
    color: #fff;
}